.contcalc {
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
}

.calc {
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.error {
    color: red;
    font-size: 10px;
}