.cont {
    font-size: large;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    height: fit-content;
    background: linear-gradient(rgb(94, 94, 94), rgb(34, 34, 34))
}
.blanco {
    color: rgb(224, 224, 224);
    text-decoration: none;
}

